* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(bg-img1.jpg);
  background-size: cover;
  background-position: center;
}
h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.75rem;
  color: #fff;
}

.form-container {
  position: relative;
  background: transparent;
  height: auto;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  padding: 3rem;
  border: 2px solid #ccc;
  border-radius: 1rem;
  backdrop-filter: blur(0.35rem);
  overflow: hidden;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  width: block;
  font-weight: bold;
  /* margin-bottom: 3rem; */
  font-size: 1.25rem;
  color: #ccc;
}

.form-group input {
  width: 100%;
  padding: 1rem;
  font-size: 1.25rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin-top: 0.25rem;
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 1rem;
  background-color: blue;
  color: #fff;
  font-size: 1.25rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-top: 2rem;
}

.submit-btn:hover {
  background-color: rgb(4, 4, 194);
}

p {
  margin-top: 15px;
  color: #fff;
  font-size: 1.25rem;
}

p a {
  color: #fff;
}

p a:hover {
  color: #ccc;
  text-decoration: underline;
}
