.display {
  font-size: 2rem;
  height: 6rem;
  width: 19rem;
  margin: 2rem;
  margin-bottom: 1rem;
  background-color: #d7f4ff;
  font-weight: normal;
  color: black;
  text-align: right;
}

.display::placeholder {
  font-weight: normal;
  color: black;
  text-align: right;
  font-size: 2rem;
}
